/* Coolors Exported Palette - coolors.co/3c6e71-ffffff-d9d9d9-3f292b-284b63 */

/* HSL */
$color1: hsla(183%, 31%, 34%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(0%, 0%, 85%, 1);
$color4: hsla(355%, 21%, 20%, 1);
$color5: hsla(204%, 42%, 27%, 1);

/* RGB */
$color1: rgb(32, 8, 247);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(217, 217, 217, 1);
$color4: rgba(63, 41, 43, 1);
$color5: rgba(40, 75, 99, 1);